$main-color: #fe5000;
$dark-color: #101820;
header {
    z-index: 10;
    background-color: o-color("o-cc1-bg");
    border-bottom: 1px solid $main-color;
    .home-link {
        .logo-h {
            height: 60px;
        }
    }
    .navbar {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        > .container {
            min-height: 64px;
            .navbar-nav,
            #top_menu.o_menu_loading {
                // gap: 1.5em;
                opacity: 1 !important;
                justify-content: center;
                .nav-item {
                    min-width: 5em;
                    text-align: center;
                    .nav-link {
                        padding: 0.315em 0;
                        border-bottom: none;
                        span {
                            color: o-color("o-color-5");
                            font-weight: 500;
                            font-size: 1.3rem;
                        }
                    }
                    .nav-link.active {
                        background: $main-color;
                        border-radius: 20px;
                        span {
                            color: o-color("o-cc1-bg");
                        }
                    }
                }
            }
            .contact-header {
                .nav-item.phone {
                    display: flex;
                    align-items: center;
                    gap: 0.2em;
                    img {
                        width: 15px;
                    }
                    .info {
                        display: block;
                        font-weight: 500;
                        padding-left: 0.5em;
                        font-family: "Gilroy";
                        font-size: 24px;
                        color: $main-color;
                    }
                }
                .header-callback {
                    .container {
                        a {
                            color: o-color("o-color-5");
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

main {
    .s_carousel_wrapper {
        .carousel-inner {
            .carousel-content {
                .btn-primary {
                    background-color: $main-color;
                    border: none;
                }
            }
        }
    }
    .s_carousel.s_carousel_default {
        .carousel-item {
            padding: 0 100px;
            .carousel-content {
                .btn-primary {
                    border-radius: 50px;
                    padding: 0.65em 1em;
                    min-width: 14em;
                }
                .lead {
                    font-weight: 500;
                }
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
        .carousel-indicators {
            gap: 2em;
            margin-bottom: 5em;
            li {
                width: 0.625em;
                height: 0.625em;
                border-radius: 100%;
            }
            li.active {
                background: $main-color;
            }
        }
        .carousel-inner:after {
            position: absolute;
            top: 45%;
            right: 0;
            transform: translateY(-50%);
            width: 11.5em;
            height: 17.5em;
            content: "";
            background-image: url(../img/content/side-b.svg);
            background-position: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
            pointer-events: none;
        }
    }
    .hover-text {
        background-color: $main-color;
        border-radius: 50px 50px 0px 0px;
        margin-top: -3em;
        padding: 0 10em;
        box-sizing: border-box;
        position: relative;
        .container {
            font-family: "Gilroy";
            font-weight: 500;
            font-size: 24px;
            // width: 64%;
            color: white;
            line-height: 1.25em;
            text-align: justify;
            // max-width: 62.5em;
            margin: 0;
        }
    }
    .hover-text-button {
        background-color: o-color("o-color-5");
        border-radius: 50px 50px 0px 0px;
        margin-top: -3em;
        padding: 5em 10em;
        box-sizing: border-box;
        position: relative;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text {
                font-family: "Gilroy";
                font-weight: 600;
                font-size: 48px;
                color: white;
                line-height: 1.25em;
            }
            .button-block {
                display: flex;
                flex-direction: column;
                gap: 1em;
                .button {
                    display: block;
                    padding: 0.5em;
                }
            }
            .button {
                font-family: "Gilroy";
                font-weight: 500;
                font-size: 24px;
                border-radius: 50px;
                border: 1px solid $main-color;
                color: white;
                text-decoration: none;
                padding: 0.8em;
                min-width: 11em;
                text-align: center;
                background-color: $main-color;
            }
        }
    }
    .s_title.style-image:after {
        position: absolute;
        top: 60%;
        right: 0;
        transform: translateY(-50%);
        width: 11.5em;
        height: 17.5em;
        content: "";
        background-image: url(../img/content/side-c.svg);
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
    }
    .s_title.style-image-left:after {
        position: absolute;
        top: 0%;
        left: 0;
        transform: translateY(-50%) scaleX(-1);
        width: 11.5em;
        height: 17.5em;
        content: "";
        background-image: url(../img/content/side-c.svg);
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
    }
    .style-image-right:after {
        position: absolute;
        top: 0%;
        right: 0;
        transform: translateY(-50%);
        width: 11.5em;
        height: 17.5em;
        content: "";
        background-image: url(../img/content/side-c.svg);
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
    }
    .recolor-text {
        background-color: #f5f5f5;
        .container {
            font-family: "Gilroy";
            font-weight: 500;
            font-size: 24px;
            text-align: justify;
            color: #101820;
        }
    }
    .title-separator {
        width: 6.25em;
        margin: 0 auto;
        hr {
            border-color: $main-color;
        }
    }
    .recolor-title {
        color: $main-color;
        background-color: #f5f5f5;
        hr {
            border-color: o-color("o-color-5");
        }
    }
    .title-orange {
        h1 {
            color: $main-color;
        }
        hr {
            border-color: $main-color;
        }
    }
    .s_features_grid {
        font-family: "Gilroy";
        .container {
            .row {
                justify-content: center;
                .grid-flex-list {
                    font-size: initial;
                    display: flex;
                    justify-content: center;
                    > * {
                        width: 10.25em;
                        min-width: 10.25em;
                        text-align: center;
                    }
                    i {
                        margin-right: 0;
                        background: none;
                    }
                    .s_features_grid_icon {
                        width: 6.25em;
                        height: 6.25em;
                        border-radius: 10px;
                        object-fit: fill;
                        font-size: initial;
                        float: none;
                    }
                    .s_features_grid_content {
                        h4 {
                            font-size: 24px;
                            font-weight: 500;
                            color: o-color("o-color-5");
                            margin-top: 1em;
                        }
                    }
                }
                .button-block {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 6.75em;
                    row-gap: 2em;
                    padding: 4.5em 0;
                    flex-wrap: wrap;
                    .button {
                        font-family: "Gilroy";
                        font-weight: 500;
                        font-size: 24px;
                        border-radius: 50px;
                        border: 1px solid $main-color;
                        color: $main-color;
                        text-decoration: none;
                        padding: 0.8em;
                        min-width: 11em;
                        text-align: center;
                    }
                    .button:hover {
                        background-color: $main-color;
                        color: o-color("o-cc1-bg");
                    }
                }
            }
        }
    }
    .inter-pop-container {
        background: $main-color;
        // padding: 6.25em 10.625em;
        padding: 6.25em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        gap: 2em;
        justify-content: center;
        .text {
            color: #fefefe;
            font-family: "Gilroy";
            font-weight: 600;
            font-size: 48px;
            p {
                margin-bottom: 0;
                line-height: 1.25em;
            }
            .text-line {
                background-color: #fefefe;
                height: 1px;
                width: 100px;
                margin-top: 0.5em;
            }
        }
        .list-block {
            column-count: 3;
            column-gap: 4em;
            width: min-content;
            > .item {
                background: #fefefe;
                border-radius: 20px;
                padding: 0.5em;
                margin-bottom: 3em;
                width: 16.25em;
                display: inline-block;
                .image {
                    background: #101820;
                    border-radius: 10px;
                    width: 3.125em;
                    height: 3.125em;
                    margin-top: -2.5em;
                    margin-left: 2.2em;
                }
                .title {
                    color: $main-color;
                    font-family: "Gilroy";
                    font-weight: 800;
                    font-size: 24px;
                    padding-left: 1.4em;
                }
                .list {
                    color: #101820;
                    font-family: "Gilroy";
                    font-weight: 500;
                    font-size: 24px;
                    > .item {
                    }
                }
            }
        }
    }
    .inter-pop-container:after {
        position: absolute;
        top: 20%;
        left: 0;
        transform: translateY(-50%);
        width: 11.5em;
        height: 17.5em;
        content: "";
        background-image: url(../img/content/side-w.svg);
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
    }
    ///////////////////
    // Case Seaction //
    ///////////////////
    .case-section {
        .content {
            position: relative;
            padding: 0;
            width: 100%;
            margin-top: 3em;
            .case-block {
                // height: 80em;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                border-radius: 50px;
                overflow: hidden;
                .case-item {
                    position: relative;
                    .image {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        aspect-ratio: 3/2;
                        transition: filter 0.2s ease-in-out;
                    }
                    .slide-content {
                        transition: all 0.2s ease-in-out;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                        opacity: 0;
                        padding: 2em;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        gap: 2em;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(0, 0, 0, 0.4);
                        font-family: "Gilroy";
                        font-size: 24px;
                        color: #fefefe;
                        .title {
                            font-weight: 800;
                            text-align: center;
                        }
                        .text {
                            font-weight: 500;
                            text-align: justify;
                        }
                        .more {
                            font-weight: 800;
                            text-align: center;
                        }
                    }
                }
                .case-item:hover {
                    .image {
                        filter: brightness(0.3) grayscale(1);
                    }
                    .slide-content {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .case-popup-container {
        position: relative;
        z-index: 100;
        pointer-events: none;
        position: fixed;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.6);
        .case-popup {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            max-width: 1800px;
            height: 90%;
            .close {
                position: absolute;
                top: -1em;
                right: -1em;
                width: 4em;
                height: 4em;
                background-color: #ff5500;
                border-radius: 100%;
                opacity: 1;
                z-index: 1;
                text-decoration: none;
            }
            .close:after {
                content: "\00d7";
                color: white;
                font-size: 3em;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
            }
            .block {
                width: 100%;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                position: fixed;
                background-color: white;
                display: flex;
                border-radius: 50px;
                justify-content: space-between;
                .text-block {
                    padding: 4em;
                    .title {
                        font-weight: 700;
                        font-size: 2.375em;
                    }
                    .line {
                        width: 100px;
                        height: 4px;
                        background-color: #ff5500;
                        border-radius: 100px;
                        margin: 1.5em 0;
                    }
                    .text {
                        font-family: "Open Sans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.125em;
                    }
                }
                .icon {
                    min-width: 30%;
                    max-width: 30%;
                    border-radius: 50px;
                    object-fit: fill;
                }
            }
        }
    }
    .case-popup-container:target {
        opacity: 1;
        pointer-events: all;
    }
    ////////////////////
    // Client Section //
    ////////////////////
    .client-section {
        max-width: 1500px;
        margin: 0 auto;
        .content {
            position: relative;
            .swiper-block {
                position: relative;
                .swiper-container-client {
                    .swiper-wrapper {
                        max-height: 100px;
                        display: flex;
                        align-items: center;
                        .swiper-slide {
                            .block {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .image {
                                    max-width: 12em;
                                    max-height: 6em;
                                }
                            }
                        }
                    }
                }
                .swiper-button-prev-client,
                .swiper-button-next-client {
                    color: #ff5500;
                }
                .swiper-button-prev-client {
                    left: -1em;
                }
                .swiper-button-next-client {
                    right: -1em;
                }
            }
            .desc {
                font-family: "Gilroy";
                font-weight: 500;
                font-size: 24px;
                color: #101820;
                max-width: 80%;
                text-align: center;
                margin: 2em auto 0;
                min-height: 6em;
                position: relative;
                pointer-events: none;
                > div {
                    transition: opacity 0.6s ease-in-out;
                    opacity: 1;
                }
                .hide {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .s_text_image {
        .s_image_gallery.o_slideshow {
            overflow: visible !important;
            transform: scale(1.15) translateX(-2em);
            height: auto !important;
            .carousel {
                background-image: url(../img/content/monitor.png);
                background-position: 50%;
                background-size: 100%;
                background-repeat: no-repeat;
                .carousel-indicators {
                    bottom: -3em !important;
                    gap: 1em;
                    li {
                        font-size: initial;
                        width: 0.8em;
                        height: 0.8em;
                        border-radius: 100% !important;
                        border: none !important;
                        opacity: 1 !important;
                        max-width: 0.8em !important;
                        max-height: 0.8em !important;
                    }
                    li.active {
                        background: $main-color !important;
                    }
                }
            }
            .carousel-inner {
                display: flex;
                align-items: center;
                width: 76%;
                top: 1em;
                overflow: hidden;
                margin: 0 auto;
                min-height: 22em;
                // width: 28.1em;
                // height: 17.6em;
                // top: 1.2em;
                // overflow: hidden;
                // margin: 0 auto;
                .carousel-item {
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .bolder-text {
        font-family: "Gilroy";
        font-weight: 800;
        font-size: 24px;
        color: #101820;
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
    .s_website_form {
        form {
            display: flex;
            flex-direction: column;
            gap: 2em;
            .s_website_form_field {
                .form-control {
                    background: #f5f5f5;
                    border: 1px solid #3f4444;
                    border-radius: 10px;
                    padding: 0.7em;
                }
                .form-control:focus {
                    border: 1px solid #fe5000;
                }
            }
            .s_website_form_submit {
                .s_website_form_label {
                    width: auto !important;
                    float: none !important;
                    height: auto !important;
                    .s_website_form_send {
                        display: block;
                        margin: 0 auto;
                        width: fit-content;
                        font-family: "Gilroy";
                        font-weight: 500;
                        font-size: 24px;
                        border-radius: 50px;
                        background-color: $main-color;
                        color: o-color("o-cc1-bg");
                        text-decoration: none;
                        padding: 0.8em;
                        min-width: 11em;
                        text-align: center;
                    }
                }
                #s_website_form_result:not(:empty) {
                    margin: 2em 0 0.5em;
                    display: block;
                    background: white;
                    padding: 0.75em;
                    border-radius: 10px;
                }
            }
        }
    }
    .call-popup,
    .callback-popup {
        z-index: 100;
        position: fixed;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.6);
        .popup-content {
            position: relative;
            background: #101820;
            border-radius: 20px;
            width: fit-content;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .close {
                position: absolute;
                top: 1em;
                right: 1em;
                width: 1.5em;
                height: 1.5em;
                border: 1px solid #ff5500;
                border-radius: 100%;
                opacity: 1;
                z-index: 1;
                text-decoration: none;
            }
            .close:after {
                content: "\00d7";
                color: #ff5500;
                font-size: 1.1em;
                display: flex;
                justify-content: center;
                pointer-events: none;
                width: 100%;
                height: 100%;
            }
            .content {
                display: flex;
                gap: 2em;
                padding: 3.125em;
                .s_website_form {
                    min-width: 25em;
                }
            }
        }
    }
    .call-popup:target,
    .callback-popup:target {
        opacity: 1;
        pointer-events: all;
    }
    .thankyou-popup {
        z-index: 100;
        position: fixed;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.6);
        .popup-content {
            position: relative;
            background: #fefefe;
            border-radius: 20px;
            width: fit-content;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .close {
                position: absolute;
                top: 1em;
                right: 1em;
                width: 1.5em;
                height: 1.5em;
                border: 1px solid #ff5500;
                border-radius: 100%;
                opacity: 1;
                z-index: 1;
                text-decoration: none;
            }
            .close:after {
                content: "\00d7";
                color: #ff5500;
                font-size: 1.1em;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
            }
            .content {
                display: flex;
                gap: 2em;
                padding: 4.75em;
                .image {
                    width: 4em;
                    height: 6.25em;
                }
                .text-block {
                    .title {
                        font-family: "Gilroy";
                        font-weight: 600;
                        font-size: 48px;
                        color: #101820;
                    }
                    .text {
                        font-family: "Gilroy";
                        font-weight: 500;
                        font-size: 24px;
                        color: #101820;
                    }
                }
            }
        }
    }
    .thankyou-popup:target {
        opacity: 1;
        pointer-events: all;
    }
}

footer {
    background-color: #101820;
    .footer-content {
        max-width: 1600px;
        margin: 0 auto;
        .main-content {
            padding: 3.75em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #fe5000;
            flex-direction: row;
            .home-link {
                .logo-f {
                    width: 10.625em;
                    height: 4.75em;
                }
            }
            .nav-block {
                padding: 0;
                margin: 0;
                .nav-item {
                    .nav-link {
                        font-family: "Gilroy";
                        font-weight: 500;
                        font-size: 16px;
                        color: #fefefe;
                    }
                    .nav-link:hover {
                        text-decoration: underline;
                        text-decoration-color: $main-color;
                    }
                }
            }
            .nav-block.solo {
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 50em;
            }
            .contact-footer {
                margin: 0;
                padding: 0;
                li.phone {
                    img.phone {
                        width: 15px;
                    }
                    .info {
                        font-family: "Gilroy";
                        font-weight: 500;
                        font-size: 18px;
                        color: $main-color;
                    }
                }
                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5em;
                    margin-top: 2em;
                    .soc-link {
                        .soc {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
        .company-block {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
            position: relative;
            .odoo-f {
                height: 100px;
            }
            .company {
                position: absolute;
                right: 0;
                font-family: "Gilroy";
                font-weight: 500;
                font-size: 16px;
                color: #fefefe;
                text-align: center;
            }
        }
    }
}

@media (min-width: 1400px) {
    main {
        .container {
            max-width: 1620px;
        }
    }
    header {
        .navbar {
            > .container {
                max-width: 1620px;
            }
        }
    }
}

@media (min-width: 992px) {
    main {
        .s_features_grid {
            .container {
                .row {
                    .col-lg-4 {
                        width: 50%;
                    }
                    .col-lg-3 {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    main {
        .s_features_grid {
            .container {
                .row {
                    .col-lg-4 {
                        width: 33%;
                    }
                    .col-lg-3 {
                        width: 25%;
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {
    main {
        .carousel-inner:after,
        .style-image:after,
        .style-image-left:after,
        .style-image-right:after,
        .inter-pop-container:after {
            display: none;
        }
        .s_carousel.s_carousel_default {
            .carousel-item {
                padding: 0;
            }
        }
        .hover-text {
            padding: 0;
            > .container {
                width: 100%;
                text-align: left;
                font-size: 18px;
            }
        }
        .hover-text-button {
            padding: 2em;
            .container {
                padding: 0;
                display: block;
                .text {
                    font-size: 32px;
                    margin-bottom: 1em;
                    text-align: center;
                }
                .button {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .s_features_grid {
            .container {
                .row {
                    .grid-flex-list {
                        > * {
                            min-width: 7.25em;
                        }
                        .s_features_grid_content {
                            h4 {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .inter-pop-container {
            padding: 4em 2em;
            display: block;
            .text {
                font-size: 32px;
                text-align: center;
                width: 100%;
                margin-bottom: 3em;
            }
            .list-block {
                column-count: 1;
                width: 100%;
                > .item {
                    margin: 0 auto 3em;
                    display: block;
                }
            }
        }
        .case-section {
            .content {
                .case-block {
                    display: block;
                    height: auto;
                    .case-item {
                        min-height: 20em;
                        .slide-content {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .client-section {
            .content {
                .swiper-block {
                    margin: 0 2em;
                }
                .desc {
                    font-size: 16px;
                }
            }
        }
        .s_text_block {
            .container {
                font-size: 18px;
            }
        }
        .bolder-text {
            width: 100%;
        }
    }
    .s_text_image {
        .container {
            font-size: 18px;
            .s_image_gallery.o_slideshow {
                transform: scale(1) translateX(0em);
                .carousel {
                    .carousel-inner {
                        width: 100%;
                        min-height: 10em;
                        .carousel-item {
                            min-height: 1px !important;
                        }
                    }
                    .carousel-indicators {
                        bottom: -1em !important;
                    }
                }
            }
        }
    }
    footer {
        .footer-content {
            .main-content {
                flex-direction: column;
                gap: 1em;
                .nav-block {
                    .nav-item {
                        text-align: center;
                    }
                }
                .nav-block.solo {
                    display: block;
                }
            }
            .company-block {
                height: 140px;
                flex-direction: column;
                .company {
                    position: relative;
                }
            }
        }
    }
}
