// colors
$white: #FFFFFF;
$secondary-white: #fefefe;
$black: #000000;
$main-color: #FE5000;
$ligh-gray: #d5d8dc;
$dark-gray: #28303d;

$modal-bg-color: #101820;
$secondary-bg-color: #f5f5f5;

// border-radius
$card-img-border-radius: 10px;
$card-border-radius: 20px;
$bnt-border-radius: 30px;
$background-border-radius: 50px;

// button style
$min-btn-padding-y: 7px;
$min-btn-padding-x: 30px;

// font-style
$fsz-title: 3.75rem; // 60px;
$fsz-sub-title: 3rem; // 48px;
$fsz-sub: 2.5rem; // 40px;
$fsz-textgroup-title: 2rem; // 32px;
$fsz-product-card-title: 1.75rem; // 28px;
$fsz-key-text: 1.5rem; //24px;
$fsz-text: 1.125rem; //18px;
$fsz-footer-contacts: 1rem; // 16px;
$fsz-footer-adress: 0.875rem; // 14px;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;