// First section

.first_section_img_wrapper {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -50px;
        right: -200px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url("/helloworld_module/static/src/img/about_odoo_page/first_section/first_section_img_bg.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}


// Third section

.about_odoo_advantage {

    #advantages_show_more_btn {
        transform: scale(0.65);
    }

    & .odoo_advantages_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 90px;
        row-gap: 35px;

        & .odoo_advantages_item {
            position: relative;
            text-align: left;
            font-size: $fsz-footer-contacts;
            font-weight: $fw-medium;
            background-color: $secondary-white;
            border-radius: $card-img-border-radius;
            box-shadow: -4px 4px 10px 0px rgba(16, 24, 32, 0.25);
            padding: 3px 19px 6px 11px;
            line-height: 20px;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: -15px;
                transform: translateY(-50%);
                width: 2px;
                height: 90%;
                background-color: $main-color;
            }
    
            & h4 {
                color: $main-color;
                margin-bottom: 10px;
                font-weight: $fw-semi-bold;
            }
        }
    }
}


// Fourth section

.main_modules_images_wrapper {
    position: relative;
    width: 100%;
    height: auto;

    & .main_modules_image {
        position: relative;
        z-index: 2;
    }

    & .main_modules_bg {
        position: absolute;
        top: -30px;
        left: -30px;
        z-index: 1;
    }

    & .main_modules_secondary_img {
        position: absolute;
        bottom: 50px;
        right: 70px;
        z-index: 3;
    }
}

.odoo_main_modules_list {
    @include flexcenter($flex-direction:column,$align-atems:flex-start);
    gap: 30px;
}


// Sixth section

.sixth_section_container {
    @include flexcenter();

    & .about_odoo_main_modules .row > div {
        color: $white;
        font-weight: $fw-bold;
        padding-left: 50px;
        font-size: $fsz-key-text;

        &:nth-child(1) {
            display: flex;
            align-items: center;
            padding-left: 150px;

            & h2 {
                line-height: 4rem;
            }
        }
    }

    & .sixth_section-carousel {
        position: relative;
        width: 100%;
        @include flexcenter($flex-direction: column);
    
        & .carousel-container {
            width: 100%;
            margin: 2rem auto;
            overflow: hidden;
    
            & button {
                z-index: 1000;
            }
        }
        
        & .carousel-wrapper {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        
        & .carousel-slide {
            min-width: 25%;
            transition: transform 0.5s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }
        
        .carousel-slide img {
            max-height: 100%;
            max-width: 100%;
            margin-bottom: 10px;
        }
        
        & .carousel-button {
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            background-color: rgba(0, 0, 0, 0.0);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
        
        & .carousel-button.prev {
            left: -20px;
        }
        
        & .carousel-button.next {
            right: -30px;
        }
    }
}


// Seventh section

.seventh_section_container {
    @include flexcenter($flex-direction:column);

    & h2 {
        line-height: 4rem;
    }

    & .action_btns {
        @include flexcenter();
        gap: 20px;
    }
}


// Eighth section

.eighth_section_contact-us {
    position: relative;

    &-line {
        width: 100%;
        height: 5px;
        background-color: $main-color;
        position: absolute;
        z-index: 100;
        bottom: -10px;
    }

    & img {
        position: absolute;
        top: 0;

        &:nth-child(1) {
            right: 200px;
            z-index: 1;
        }

        &:nth-child(2) {
            right: 100px;
            transform: scale(0.9);
        }
    }
}