@import './variables';

.fifth_section_accordion {
    margin: 0 auto;
    max-width: 620px;
    overflow: hidden;
}
    
.fifth_section_accordion_item {
    position: relative;
    border-radius: $bnt-border-radius;
    background: $white;
    box-shadow: 0px 4px 4px 0px rgba(16, 24, 32, 0.25);
    margin: 34px 0;
    padding: 0 5px 15px 50px;
    color: $main-color;
    transition: all 0.3s ease-out;

    & i {
        position:absolute;
        top:20px;
        right:20px;
        color: $black;
        font-size: $fsz-key-text;
        transition: all 0.3s ease-out;
    }
}

.fifth_section_accordion_header {
    font-size: $fsz-sub;
    font-weight: $fw-bold;
    padding: 25px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-out;
}

.fifth_section_accordion_content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    color: $white;
    transition: all 0.3s ease-out;
}   

.fifth_section_accordion_item.open {
    border: 1px solid $ligh-gray;
    box-shadow: none;
    background-color: $black;
    color: $white;

    & i {
        transform: rotateZ(45deg);
        color: $white;
    }

    & .fifth_section_accordion_content {
        max-height: 400px;
        padding: 15px;
    }
}

.fifth_section_btns {
    @include flexcenter();
    // display: flex;
    // align-items: center;
    // justify-content: center;
    gap: 200px;
    margin-top: 100px;

    & button {
        font-family: "Roboto", Sans-serif;
        font-size: $fsz-key-text;
        font-weight: $fw-medium;
        border: 2px solid #fe5000;
        border-radius: $background-border-radius;
        padding: 18px 24px;
        transition: all 0.3s;
    }

    & .presentation_btn {
        color: $white;
        background-color: $main-color;

        &:hover {
            color: $main-color;
            background-color: $white;
        }
    }
    
    & .callback_btn {
        color: $main-color;
        background-color: $white;

        &:hover {
            color: $white;
            background-color: $main-color;
        }
    }
}
