* {
    box-sizing: border-box;
}

input[type='checkbox'] {
    &:checked {
        color: $main-color;
    }
}

h2 {
    font-size: $fsz-sub-title;
    font-weight: $fw-medium;
    line-height: 2.5rem; 
}

h3 {
    font-size: $fsz-sub;
    font-weight: $fw-regular;
    line-height: 2.75rem; 
}

h4 {
    font-weight: $fw-regular;
    margin-bottom: 50px;
    line-height: 2.5rem; 
}

li {
    list-style-type: none;
}

:root {
    --body-font-size: 1.25rem;
}

.row {
    --gutter-x: 0;
    --gutter-y: 0;
}

.secondary-bg-color {
    background-color: $secondary-bg-color;
}

.fill-bg-color {
    background-color: $main-color;
}

.main-title-color {
    color: $main-color
}

.btn-primary, .btn-primary:focus {
    color: $white !important;
    background-color: $main-color !important;
    box-shadow: none !important;
    border-radius: $bnt-border-radius !important;
    border: 1px solid $main-color !important;
    transition: all .3s !important;
    padding: 10px 40px !important;
    width: max-content !important;

    &:hover {
        color: $black !important;
        background-color: $white !important;
    }

    &:active {
        color: $white !important;
        box-shadow: none !important;
        background-color: $black !important;
    }
}

.btn:focus {
    box-shadow: none !important;
}

.line-100 {
    display: block;
    width: 100px;
    height: 1px;
    background-color: $main-color;
}

.custom-dropdown {
    font-size: $fsz-key-text;
}


@media (min-width: 1650px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1596px;
    }
  }
